<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.infaith.module.mapper.ResultDataMapper">
  <resultMap id="BaseResultMap" type="cn.com.infaith.module.model.ResultData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="table_no" jdbcType="INTEGER" property="tableNo" />
    <result column="battle_no" jdbcType="INTEGER" property="battleNo" />
    <result column="fit_no" jdbcType="INTEGER" property="fitNo" />
    <result column="tzfx" jdbcType="INTEGER" property="tzfx" />
    <result column="tzxt" jdbcType="INTEGER" property="tzxt" />
    <result column="tzzh" jdbcType="VARCHAR" property="tzzh" />
    <result column="tzje" jdbcType="VARCHAR" property="tzje" />
    <result column="tzzt" jdbcType="BIT" property="tzzt" />
    <result column="tzjg" jdbcType="INTEGER" property="tzjg" />
    <result column="yxje" jdbcType="DECIMAL" property="yxje" />
    <result column="yssy" jdbcType="DECIMAL" property="yssy" />
    <result column="sjsy" jdbcType="DECIMAL" property="sjsy" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="tz_status" jdbcType="VARCHAR" property="tzStatus" />
    <result column="tz_count" jdbcType="INTEGER" property="tzCount" />
    <result column="tz_sjtzje" jdbcType="INTEGER" property="tzSjtzje" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from result_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.infaith.module.model.ResultData">
    insert into result_data (id, admin_id, create_time, table_no,
      battle_no, fit_no, tzfx, 
      tzxt, tzzh, tzje, tzzt, 
      tzjg, yxje, yssy, sjsy
      )
    values (#{id,jdbcType=INTEGER}, #{adminId}, NOW(), #{tableNo,jdbcType=INTEGER},
      #{battleNo,jdbcType=INTEGER}, #{fitNo,jdbcType=INTEGER}, #{tzfx,jdbcType=INTEGER}, 
      #{tzxt,jdbcType=INTEGER}, #{tzzh,jdbcType=VARCHAR}, #{tzje,jdbcType=VARCHAR}, #{tzzt,jdbcType=BIT}, 
      #{tzjg,jdbcType=INTEGER}, #{yxje,jdbcType=DECIMAL}, #{yssy,jdbcType=DECIMAL}, #{sjsy,jdbcType=DECIMAL}
      )
  </insert>

  <insert id="insertList" parameterType="cn.com.infaith.module.model.ResultData">
    insert into result_data (admin_id, create_time, table_no,
      battle_no, fit_no, tzfx,
      tzxt, tzzh, tzje, tzzt,
      tzjg, yxje, yssy, sjsy
      )
    values
     <foreach collection="list" item="item" index="index" separator=",">
       (#{item.adminId}, NOW(), #{item.tableNo,jdbcType=INTEGER},
       #{item.battleNo,jdbcType=INTEGER}, #{item.fitNo,jdbcType=INTEGER}, #{item.tzfx,jdbcType=INTEGER},
       #{item.tzxt,jdbcType=INTEGER}, #{item.tzzh,jdbcType=VARCHAR}, #{item.tzje,jdbcType=VARCHAR}, #{item.tzzt,jdbcType=BIT},
       #{item.tzjg,jdbcType=INTEGER}, #{item.yxje,jdbcType=DECIMAL}, #{item.yssy,jdbcType=DECIMAL}, #{item.sjsy,jdbcType=DECIMAL}
       )
     </foreach>
  </insert>

  <update id="updateById" parameterType="cn.com.infaith.module.model.ResultData">
    update result_data
    set
      tzjg = #{tzjg,jdbcType=INTEGER},
      yxje = #{yxje,jdbcType=DECIMAL},
      yssy = #{yssy,jdbcType=DECIMAL},
      sjsy = #{sjsy,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, create_time, table_no, battle_no, fit_no, tzfx, tzxt, tzzh, tzje, tzzt, 
    tzjg, yxje, yssy, sjsy
    from result_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_time, table_no, battle_no, fit_no, tzfx, tzxt, tzzh, tzje, tzzt, 
    tzjg, yxje, yssy, sjsy
    from result_data
  </select>

  <select id="getResultJGNullByTable" resultMap="BaseResultMap">
    select a.id, a.create_time, a.table_no, a.battle_no, a.fit_no, a.tzfx, a.tzxt, a.tzzh, a.tzje, a.tzzt,
    a.tzjg, a.yxje, a.yssy, a.sjsy
    from result_data a, user_account b
    WHERE a.table_no = #{tableNo} AND a.battle_no = #{battleNo} AND a.fit_no = #{fitNo}
    AND (a.tzjg IS NULL OR a.tzjg = '') AND a.tzzh = b.id AND a.tzzt IS NOT NULL AND a.is_delete = 0
    ORDER BY b.account ASC limit 1
  </select>

  <select id="getResultJGNull" resultMap="BaseResultMap" parameterType="String">
    select a.id, a.create_time, a.table_no, a.battle_no, a.fit_no, a.tzfx, a.tzxt, a.tzzh, a.tzje, a.tzzt,
    a.tzjg, a.yxje, a.yssy, a.sjsy
    from result_data a
    WHERE
    (a.tzjg IS NULL OR a.tzjg = '') AND a.tzzt = 1
    AND a.create_time >= date_add(NOW(),interval -15 MINUTE )
    AND a.is_delete = 0
    AND a.tzzh IN
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="searchResultData" resultMap="BaseResultMap">
    select a.id, a.create_time, a.table_no, a.battle_no, a.fit_no, a.tzfx, a.tzxt, a.tzzh, a.tzje, a.tzzt,
    a.tzjg, a.yxje, a.yssy, a.sjsy, b.name, b.account, a.tz_status, a.tz_count, a.tz_sjtzje
    from result_data a, user_account b
    WHERE 1 = 1
    AND a.is_delete = 0
    <if test="createTime != null">
      AND a.create_time >= #{createTime}
      AND a.create_time <![CDATA[ < ]]> date_add(#{createTime},interval 1 day)
    </if>
    <if test="tzxt != null and tzxt != 0">
      AND a.tzxt = #{tzxt}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND a.tzzh = #{tzzh}
    </if>
    AND a.tzzh = b.id
    <if test="adminId != null and adminId != ''">
      AND b.admin_id = #{adminId}
    </if>
    ORDER BY a.create_time DESC
  </select>

  <select id="getNeedTzDataList" resultMap="BaseResultMap">
    select id, create_time, table_no, battle_no, fit_no, tzfx, tzxt, tzzh, tzje, tzzt,
    tzjg, yxje, yssy, sjsy, tz_status, tz_count, tz_sjtzje
    from result_data
    WHERE tzzt IS NULL
    <if test="tableNo != null and tableNo != 0">
      AND table_no = #{tableNo}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND tzzh = #{tzzh}
    </if>
    AND create_time >= DATE_ADD(NOW(),INTERVAL -15 MINUTE)
    AND is_delete = 0
    ORDER BY create_time DESC
  </select>

  <update id="updateTzzt" parameterType="cn.com.infaith.module.model.ResultData">
    update result_data
    set
      tzzt = #{tzzt},
      tz_status = #{tzStatus},
      tz_count = #{tzCount},
      tz_sjtzje = #{tzSjtzje}
    where id = #{id}
  </update>

  <select id="getAllYxje" resultType="BigDecimal">
    SELECT SUM(a.yxje) FROM result_data a, user_account b where a.tzzh = b.id
    AND a.tzzt = 1 AND a.tzjg IS NOT NULL AND a.tzjg != '' AND a.is_delete = 0
    <if test="createTime != null">
      AND a.create_time >= #{createTime}
      AND a.create_time <![CDATA[ < ]]> date_sub(#{createTime},interval -1 day)
    </if>
    <if test="tzxt != null and tzxt != 0">
      AND a.tzxt = #{tzxt}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND a.tzzh = #{tzzh}
    </if>
    <if test="adminId != null and adminId != ''">
      AND b.admin_id = #{adminId}
    </if>
  </select>

  <select id="getAllYssy" resultType="BigDecimal">
    SELECT SUM(a.yssy) FROM result_data a, user_account b where a.tzzh = b.id
    AND a.tzzt = 1 AND a.tzjg IS NOT NULL AND a.tzjg != '' AND a.is_delete = 0
    <if test="createTime != null">
      AND a.create_time >= #{createTime}
      AND a.create_time <![CDATA[ < ]]> date_sub(#{createTime},interval -1 day)
    </if>
    <if test="tzxt != null and tzxt != 0">
      AND a.tzxt = #{tzxt}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND a.tzzh = #{tzzh}
    </if>
    <if test="adminId != null and adminId != ''">
      AND b.admin_id = #{adminId}
    </if>
  </select>

  <select id="getAllSjsy" resultType="BigDecimal">
    SELECT SUM(a.sjsy) FROM result_data a, user_account b where a.tzzh = b.id
    AND a.tzzt = 1 AND a.tzjg IS NOT NULL AND a.tzjg != '' AND a.is_delete = 0
    <if test="createTime != null">
      AND a.create_time >= #{createTime}
      AND a.create_time <![CDATA[ < ]]> date_sub(#{createTime},interval -1 day)
    </if>
    <if test="tzxt != null and tzxt != 0">
      AND a.tzxt = #{tzxt}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND a.tzzh = #{tzzh}
    </if>
    <if test="adminId != null and adminId != ''">
      AND b.admin_id = #{adminId}
    </if>
  </select>

  <update id="updateResult">
    UPDATE result_data SET is_delete = 1
    WHERE table_no = #{tableNo} AND battle_no = #{battleNo} AND fit_no = #{fitNo}
    AND create_time >= DATE_SUB(NOW(),INTERVAL 10 MINUTE)
    AND create_time <![CDATA[ <= ]]> DATE_ADD(NOW(),INTERVAL 2 MINUTE)
  </update>

  <select id="getAllResultCount" resultType="int">
    SELECT COUNT(1) FROM result_data WHERE is_delete = 0
    AND tzxt = #{tzxt}
    <if test="userIdList.size != 0">
      AND tzzh IN
      <foreach collection="userIdList" item="userId" index="index" separator="," open="(" close=")">
        #{userId}
      </foreach>
    </if>
    <if test="tzzt == 1">
      AND tzzt = 1
    </if>
    <if test="tzzt == 0">
      AND tzzt = 0
    </if>
    <if test="tzzt == 2">
      AND tzzt IS NULL
    </if>
    <if test="tzzt == 4">
      AND (tz_sjtzje > tzje)
    </if>
  </select>
</mapper>