<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.infaith.module.mapper.ResultDataMapper">
  <resultMap id="BaseResultMap" type="cn.com.infaith.module.model.ResultData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="table_no" jdbcType="INTEGER" property="tableNo" />
    <result column="battle_no" jdbcType="INTEGER" property="battleNo" />
    <result column="fit_no" jdbcType="INTEGER" property="fitNo" />
    <result column="tzfx" jdbcType="INTEGER" property="tzfx" />
    <result column="tzxt" jdbcType="INTEGER" property="tzxt" />
    <result column="tzzh" jdbcType="VARCHAR" property="tzzh" />
    <result column="tzje" jdbcType="VARCHAR" property="tzje" />
    <result column="tzzt" jdbcType="BIT" property="tzzt" />
    <result column="tzjg" jdbcType="INTEGER" property="tzjg" />
    <result column="yxje" jdbcType="DECIMAL" property="yxje" />
    <result column="yssy" jdbcType="DECIMAL" property="yssy" />
    <result column="sjsy" jdbcType="DECIMAL" property="sjsy" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tz_status" jdbcType="VARCHAR" property="tzStatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from result_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.infaith.module.model.ResultData">
    insert into result_data (id, create_time, table_no, 
      battle_no, fit_no, tzfx, 
      tzxt, tzzh, tzje, tzzt, 
      tzjg, yxje, yssy, sjsy
      )
    values (#{id,jdbcType=INTEGER}, NOW(), #{tableNo,jdbcType=INTEGER},
      #{battleNo,jdbcType=INTEGER}, #{fitNo,jdbcType=INTEGER}, #{tzfx,jdbcType=INTEGER}, 
      #{tzxt,jdbcType=INTEGER}, #{tzzh,jdbcType=VARCHAR}, #{tzje,jdbcType=VARCHAR}, #{tzzt,jdbcType=BIT}, 
      #{tzjg,jdbcType=INTEGER}, #{yxje,jdbcType=DECIMAL}, #{yssy,jdbcType=DECIMAL}, #{sjsy,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateById" parameterType="cn.com.infaith.module.model.ResultData">
    update result_data
    set
      tzjg = #{tzjg,jdbcType=INTEGER},
      yxje = #{yxje,jdbcType=DECIMAL},
      yssy = #{yssy,jdbcType=DECIMAL},
      sjsy = #{sjsy,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, create_time, table_no, battle_no, fit_no, tzfx, tzxt, tzzh, tzje, tzzt, 
    tzjg, yxje, yssy, sjsy
    from result_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_time, table_no, battle_no, fit_no, tzfx, tzxt, tzzh, tzje, tzzt, 
    tzjg, yxje, yssy, sjsy
    from result_data
  </select>

  <select id="getResultJGNullByTable" resultMap="BaseResultMap">
    select a.id, a.create_time, a.table_no, a.battle_no, a.fit_no, a.tzfx, a.tzxt, a.tzzh, a.tzje, a.tzzt,
    a.tzjg, a.yxje, a.yssy, a.sjsy
    from result_data a, user_account b
    WHERE a.table_no = #{tableNo} AND a.battle_no = #{battleNo} AND a.fit_no = #{fitNo}
    AND (a.tzjg IS NULL OR a.tzjg = '') AND a.tzzh = b.id AND a.tzzt IS NOT NULL
    ORDER BY b.account ASC limit 1
  </select>

  <select id="getResultJGNull" resultMap="BaseResultMap" parameterType="String">
    select a.id, a.create_time, a.table_no, a.battle_no, a.fit_no, a.tzfx, a.tzxt, a.tzzh, a.tzje, a.tzzt,
    a.tzjg, a.yxje, a.yssy, a.sjsy
    from result_data a
    WHERE
    (a.tzjg IS NULL OR a.tzjg = '') AND a.tzzt = 1
    AND a.create_time >= date_add(NOW(),interval -10 MINUTE )
    AND a.tzzh IN
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="searchResultData" resultMap="BaseResultMap">
    select a.id, a.create_time, a.table_no, a.battle_no, a.fit_no, a.tzfx, a.tzxt, a.tzzh, a.tzje, a.tzzt,
    a.tzjg, a.yxje, a.yssy, a.sjsy, b.name, b.account
    from result_data a, user_account b
    WHERE 1 = 1
    <if test="createTime != null">
      AND a.create_time >= #{createTime}
      AND a.create_time <![CDATA[ < ]]> date_add(#{createTime},interval 1 day)
    </if>
    <if test="tzxt != null and tzxt != 0">
      AND a.tzxt = #{tzxt}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND a.tzzh = #{tzzh}
    </if>
    AND a.tzzh = b.id
    <if test="adminId != null and adminId != ''">
      AND b.admin_id = #{adminId}
    </if>
    ORDER BY a.create_time DESC
  </select>

  <select id="getNeedTzDataList" resultMap="BaseResultMap">
    select id, create_time, table_no, battle_no, fit_no, tzfx, tzxt, tzzh, tzje, tzzt,
    tzjg, yxje, yssy, sjsy, tz_status
    from result_data
    WHERE tzzt IS NULL
    <if test="tableNo != null and tableNo != 0">
      AND table_no = #{tableNo}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND tzzh = #{tzzh}
    </if>
    AND create_time >= DATE_ADD(NOW(),INTERVAL -4 MINUTE)
    ORDER BY create_time DESC
  </select>

  <update id="updateTzzt" parameterType="cn.com.infaith.module.model.ResultData">
    update result_data
    set
      tzzt = #{tzzt},
      tz_status = #{tzStatus}
    where id = #{id}
  </update>

  <select id="getAllYxje" resultType="BigDecimal">
    SELECT SUM(a.yxje) FROM result_data a, user_account b where a.tzzh = b.id
    AND a.tzzt = 1 AND a.tzjg IS NOT NULL AND a.tzjg != ''
    <if test="createTime != null">
      AND a.create_time >= #{createTime}
      AND a.create_time <![CDATA[ < ]]> date_sub(#{createTime},interval -1 day)
    </if>
    <if test="tzxt != null and tzxt != 0">
      AND a.tzxt = #{tzxt}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND a.tzzh = #{tzzh}
    </if>
    <if test="adminId != null and adminId != ''">
      AND b.admin_id = #{adminId}
    </if>
  </select>

  <select id="getAllYssy" resultType="BigDecimal">
    SELECT SUM(a.yssy) FROM result_data a, user_account b where a.tzzh = b.id
    AND a.tzzt = 1 AND a.tzjg IS NOT NULL AND a.tzjg != ''
    <if test="createTime != null">
      AND a.create_time >= #{createTime}
      AND a.create_time <![CDATA[ < ]]> date_sub(#{createTime},interval -1 day)
    </if>
    <if test="tzxt != null and tzxt != 0">
      AND a.tzxt = #{tzxt}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND a.tzzh = #{tzzh}
    </if>
    <if test="adminId != null and adminId != ''">
      AND b.admin_id = #{adminId}
    </if>
  </select>

  <select id="getAllSjsy" resultType="BigDecimal">
    SELECT SUM(a.sjsy) FROM result_data a, user_account b where a.tzzh = b.id
    AND a.tzzt = 1 AND a.tzjg IS NOT NULL AND a.tzjg != ''
    <if test="createTime != null">
      AND a.create_time >= #{createTime}
      AND a.create_time <![CDATA[ < ]]> date_sub(#{createTime},interval -1 day)
    </if>
    <if test="tzxt != null and tzxt != 0">
      AND a.tzxt = #{tzxt}
    </if>
    <if test="tzzh != null and tzzh != ''">
      AND a.tzzh = #{tzzh}
    </if>
    <if test="adminId != null and adminId != ''">
      AND b.admin_id = #{adminId}
    </if>
  </select>
</mapper>