<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.infaith.module.mapper.TableMergeDataMapper">
  <resultMap id="BaseResultMap" type="cn.com.infaith.module.model.TableMergeData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="table_no" jdbcType="INTEGER" property="tableNo" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="battle_no" jdbcType="INTEGER" property="battleNo" />
    <result column="fit_no" jdbcType="INTEGER" property="fitNo" />
    <result column="xjz" jdbcType="VARCHAR" property="xjz" />
    <result column="zjz" jdbcType="VARCHAR" property="zjz" />
    <result column="ljxjz" jdbcType="VARCHAR" property="ljxjz" />
    <result column="ljzjz" jdbcType="VARCHAR" property="ljzjz" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from table_merge_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.infaith.module.model.TableMergeData" useGeneratedKeys="true" keyProperty="id">
    insert into table_merge_data (admin_id, type, create_time, table_no,
      battle_no, fit_no, xjz, 
      zjz, ljxjz, ljzjz, 
      is_delete)
    values (#{adminId}, #{type}, #{createTime,jdbcType=TIMESTAMP}, #{tableNo,jdbcType=INTEGER},
      #{battleNo,jdbcType=INTEGER}, #{fitNo,jdbcType=INTEGER}, #{xjz,jdbcType=VARCHAR}, 
      #{zjz,jdbcType=VARCHAR}, #{ljxjz,jdbcType=VARCHAR}, #{ljzjz,jdbcType=VARCHAR}, 
      0)
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.infaith.module.model.TableMergeData">
    update table_merge_data
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      table_no = #{tableNo,jdbcType=INTEGER},
      battle_no = #{battleNo,jdbcType=INTEGER},
      fit_no = #{fitNo,jdbcType=INTEGER},
      xjz = #{xjz,jdbcType=VARCHAR},
      zjz = #{zjz,jdbcType=VARCHAR},
      ljxjz = #{ljxjz,jdbcType=VARCHAR},
      ljzjz = #{ljzjz,jdbcType=VARCHAR},
      is_delete = 0
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, admin_id, create_time, table_no, battle_no, fit_no, xjz, zjz, ljxjz, ljzjz, is_delete
    from table_merge_data
    where id = #{id,jdbcType=INTEGER} AND is_delete = 0
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, admin_id, create_time, table_no, battle_no, fit_no, xjz, zjz, ljxjz, ljzjz, is_delete
    from table_merge_data
  </select>

  <select id="getLastTableMergeDataNotId" resultMap="BaseResultMap">
    select id, admin_id, type, create_time, table_no, battle_no, fit_no, xjz, zjz, ljxjz, ljzjz, is_delete
    from table_merge_data
    WHERE id != #{id} AND is_delete = 0 AND admin_id = #{adminId} AND type = #{type}
    ORDER BY id DESC limit 1
  </select>

  <select id="getLastTableMergeData" resultMap="BaseResultMap">
    select ljzjz, ljxjz
    from table_merge_data
    WHERE is_delete = 0 AND admin_id = #{adminId} AND type = #{type}
    ORDER BY create_time DESC limit 1
  </select>

  <select id="getResultInfo" resultType="java.util.HashMap">
    SELECT
    fit_no,
    ljxjz
    FROM
    table_merge_data
    WHERE
    create_time >= #{startDate}
    AND create_time  <![CDATA[ < ]]> #{endDate}
    AND admin_id = #{adminId}
    ORDER BY
    create_time DESC
  </select>

  <select id="getLJZJZ" resultType="java.util.HashMap">
    SELECT
    fit_no,
    ljzjz
    FROM
    table_merge_data
    WHERE
    create_time >= #{startDate}
    AND create_time  <![CDATA[ < ]]> #{endDate}
    AND admin_id = #{adminId}
    ORDER BY
    create_time DESC
  </select>

  <select id="getLjzjzByDate" resultType="String">
    SELECT
    ljzjz
    FROM
    table_merge_data
    WHERE
    create_time <![CDATA[ >= ]]> #{createTime}
    <if test="adminId != null and adminId != ''">
      AND admin_id = #{adminId}
    </if>
    ORDER BY
    create_time DESC
    LIMIT 1
  </select>
</mapper>