<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.infaith.module.mapper.TableDataMapper">
  <resultMap id="BaseResultMap" type="cn.com.infaith.module.model.TableData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="table_no" jdbcType="INTEGER" property="tableNo" />
    <result column="battle_no" jdbcType="INTEGER" property="battleNo" />
    <result column="fit_no" jdbcType="INTEGER" property="fitNo" />
    <result column="card" jdbcType="VARCHAR" property="card" />
    <result column="xian_card" jdbcType="VARCHAR" property="xianCard" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="xgl" jdbcType="VARCHAR" property="xgl" />
    <result column="zgl" jdbcType="VARCHAR" property="zgl" />
    <result column="xtsl" jdbcType="VARCHAR" property="xtsl" />
    <result column="ztsl" jdbcType="VARCHAR" property="ztsl" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from table_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.infaith.module.model.TableData" useGeneratedKeys="true" keyProperty="id">
    insert into table_data (create_time, table_no, created,
      battle_no, fit_no, card, xian_card,
      result, xgl, zgl, xtsl,
      ztsl, is_delete)
    values (#{createTime,jdbcType=TIMESTAMP}, #{tableNo,jdbcType=INTEGER}, #{created},
      #{battleNo,jdbcType=INTEGER}, #{fitNo,jdbcType=INTEGER}, #{card,jdbcType=VARCHAR}, #{xianCard},
      #{result,jdbcType=INTEGER}, #{xgl,jdbcType=VARCHAR}, #{zgl,jdbcType=VARCHAR}, #{xtsl,jdbcType=VARCHAR},
      #{ztsl,jdbcType=VARCHAR}, 0)
  </insert>
  <insert id="addTableDataList" parameterType="cn.com.infaith.module.model.TableData">
    insert into table_data (create_time, table_no, created,
      battle_no, fit_no, card, xian_card,
      result, xgl, zgl, xtsl,
      ztsl, is_delete)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.createTime,jdbcType=TIMESTAMP}, #{item.tableNo,jdbcType=INTEGER}, #{item.created},
      #{item.battleNo,jdbcType=INTEGER}, #{item.fitNo,jdbcType=INTEGER}, #{item.card,jdbcType=VARCHAR}, #{item.xianCard},
      #{item.result,jdbcType=INTEGER}, #{item.xgl,jdbcType=VARCHAR}, #{item.zgl,jdbcType=VARCHAR}, #{item.xtsl,jdbcType=VARCHAR},
      #{item.ztsl,jdbcType=VARCHAR}, 0)
    </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.infaith.module.model.TableData">
    update table_data
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      created = #{created},
      table_no = #{tableNo,jdbcType=INTEGER},
      battle_no = #{battleNo,jdbcType=INTEGER},
      fit_no = #{fitNo,jdbcType=INTEGER},
      card = #{card,jdbcType=VARCHAR},
      xian_card = #{xianCard,jdbcType=VARCHAR},
      result = #{result,jdbcType=INTEGER},
      xgl = #{xgl,jdbcType=VARCHAR},
      zgl = #{zgl,jdbcType=VARCHAR},
      xtsl = #{xtsl,jdbcType=VARCHAR},
      ztsl = #{ztsl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, create_time, created, table_no, battle_no, fit_no, card, xian_card, result, xgl, zgl, xtsl,
    ztsl
    from table_data
    where id = #{id,jdbcType=INTEGER} AND is_delete = 0
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_time, created, table_no, battle_no, fit_no, card, xian_card, result, xgl, zgl, xtsl,
    ztsl
    from table_data
  </select>

  <select id="getTableInfo" resultMap="BaseResultMap">
    SELECT * FROM (SELECT
	a.id,
	a.create_time,
	a.created,
	a.table_no,
	a.battle_no,
	a.fit_no,
	a.card,
	a.xian_card,
	a.result,
	a.xgl,
	a.zgl,
	a.xtsl,
	a.ztsl,
        (
        SELECT STATUS
        FROM
            status_data
        WHERE
            table_no = a.table_no
            AND battle_no = a.battle_no
            AND fit_no = a.fit_no
            AND is_delete = 0 limit 1
        ) status
    FROM
        table_data a
    WHERE
        is_delete = 0
    ORDER BY
        a.create_time DESC,
        a.table_no ASC,
        a.battle_no DESC,
        a.fit_no DESC) c
	GROUP BY c.table_no
  </select>

  <select id="getNewestTableData" parameterType="int" resultMap="BaseResultMap">
    select id, create_time, table_no, created, battle_no, fit_no, card, xian_card, result, xgl, zgl, xtsl,
    ztsl
    from table_data WHERE is_delete = 0 AND table_no = #{tableNo}
    ORDER BY create_time DESC limit 1
  </select>

  <select id="searchTableData" resultMap="BaseResultMap">
    select id, create_time, table_no, created, battle_no, fit_no, card, xian_card, result, xgl, zgl, xtsl,
    ztsl
    from table_data WHERE is_delete = 0
    <if test="tableNo != null and tableNo != 0">
      AND table_no = #{tableNo}
    </if>
    <if test="battleNo != null and battleNo != 0">
      AND battle_no = #{battleNo}
    </if>
    <if test="createTime != null">
      AND create_time >= #{createTime}
      AND create_time <![CDATA[ < ]]> date_sub(#{createTime},interval -1 day)
    </if>
    ORDER BY create_time DESC, table_no ASC, battle_no DESC, fit_no DESC
  </select>

  <select id="checkIsHaveTableData" resultType="int">
    SELECT count(1) FROM table_data
    WHERE is_delete = 0 AND created = #{created} AND table_no = #{tableNo}
    AND battle_no = #{battleNo} AND fit_no = #{fitNo} AND card = #{card}
  </select>

  <select id="getCountFirstFitByTable" resultType="int">
    SELECT count(1) FROM table_data
    WHERE is_delete = 0 AND table_no = #{tableNo} AND battle_no = #{battleNo} AND fit_no = 1
  </select>

  <select id="getCardTable" resultType="String">
    SELECT CONCAT(card,xian_card) FROM table_data
    WHERE is_delete = 0 AND table_no = #{tableNo}
    AND battle_no = #{battleNo} AND fit_no = #{fitNo}
  </select>
</mapper>